.App {
  text-align: center;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ****************************** OUR CODE BELOW ******************************* */
.header-bar {
  height: 60px;
  box-shadow: 0px 8px 5px -5px gray;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.profile-div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.list-bar-div {
  grid-area: 1 / 1 / 13 / 4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  border: 1px solid black;
  padding-: 10px;
}


.main-display-div {
  grid-area: 1 / 4 / 13 / 13;
  height: 100vh;
  width: 100%;
  padding: 10px;
  /* margin: 0 auto; */

  
}

.list-task {
  grid-area: 1 / 1 / 5 / 13;
  background-color: rgb(240, 240, 240);
  color: black;
  overflow-y: scroll;

}

.list-task p {
  margin: 10px 0px 0px 0px;
}

.list-gratitude {
  grid-area: 5 / 1 / 9 / 13;
  background-color: rgb(240, 240, 240);
  color: black;
}
.gratitude-body {
  background-color: lightgrey;
  overflow: scroll;
  height: 200px;
}

.list-gratitude p {
  margin: 10px 0px 0px 0px;
}

.list-journal {
  grid-area: 9 / 1 / 13 / 13;
  overflow-y: scroll;
  background-color: rgb(240, 240, 240);
  color: black;
}

.main-display-div {
  background-color: rgb(240, 240, 240);
  color: black;
  position: relative;
}

.welcome-text {
  position: absolute;
  font-size: 3rem;
  top: 47%;
  left: 25%;
}

.main-content {
  width: 95%;
  padding: 10px;
  margin: 0px auto;
  white-space: pre-line;
  /* text-overflow: ellipsis; */
  overflow-wrap: break-word;
}

.main-display-image {
  background-image: url(../src/images/introImage.gif);
  height: 100%;
  width: 55%;
  margin-left: 22%;
  background-repeat: no-repeat;

}


