.App {
  text-align: center;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ****************************** OUR CODE BELOW ******************************* */
.header-bar {
  height: 80px;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.profile-div {
  display: flex;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: calc(100vh - 80px);
}

.list-bar-div {
  grid-area: 1 / 1 / 13 / 4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  border-right: 1px solid black;
  width: 400px;
  height: 100%;
}

.main-display-div {
  grid-area: 1 / 4 / 13 / 13;
  height: 100%;
  width: calc(100% - 400px);
  padding: 0px;
  background-color: rgb(240, 240, 240);
  color: black;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
}

.main-content {
  text-align: left;
}

.header {
  font-family: 'Montserrat', sans-serif;
}

.sidebar-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.33rem;
  margin-right: 10px;
}

.list-task {
  grid-area: 1 / 1 / 5 / 13;
  background-color: rgb(240, 240, 240);
  color: black;
  overflow-y: scroll;
  margin: 0px;
  width: 400px;
  height: calc((100vh - 80px) / 3)
}

.journal-bar-body {
  background-color: lightgrey;
  overflow: scroll;
  height: calc(100% - 60px);
}

.display-post-header {
  font-size: 2.5rem;
  font-weight: bold;
}

.task-body {
  background-color: lightgrey;
  overflow: scroll;
  height: calc(100% - 60px);
}

.task-header {
  height: 60px;
  width: 400px;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.journal-bar-header {
  width: 400px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.icon { 
  color: darkgray;
}

.gratitude-header {
  height: 60px;
  width: 400px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.list-gratitude {
  grid-area: 5 / 1 / 9 / 13;
  background-color: rgb(240, 240, 240);
  color: black;
  width: 400px;
  height: calc((100vh - 80px) / 3)
}

.gratitude-body {
  background-color: lightgrey;
  overflow: scroll;
  height: calc(100% - 60px);
}

.list-journal {
  grid-area: 9 / 1 / 13 / 13;
  background-color: rgb(240, 240, 240);
  color: black;
  width: 400px;
  height: calc((100vh - 80px) / 3)
}

.journal-card {
  padding-top: 10px;
}

.welcome-text {
  font-size: 3rem;
}

.main-content {
  width: 95%;
  height: 100%;
  padding: 10px;
  margin: 0px auto;
  white-space: pre-line;
  /* text-overflow: ellipsis; */
  overflow-wrap: break-word;
}

.main-display-image {
  margin: auto;
}

.new-post-title {
  width: 35%;
  margin-bottom: 10px;
  font-size: 2rem;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

.new-post-content {
  height: 80%;
  margin-bottom: 20px;
}

.new-post-textarea {
  width: 35%;
  height: 100%;
  resize: none;
  font-size: 2rem;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

.new-post-form {
  height: 80%;
}

.submit-button {
  margin: 5px;
}

.cancel-button {
  margin: 5px;
}

.delete-button {
  margin: 5px;
  color: darkred;
}

.edit-button {
  margin: 5px;
  color: darkblue
}

.gratitude-card {
  margin: 20px;
}

.gratitude-title {
  margin-right: 5px;
}

.task-title {
  margin-right: 5px;
}

.task-card {
  margin: 20px;
}